<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="Services03.js"></script>
		<script type="text/javascript" src="Workshop3.js"></script>
		<title></title>
		<style>
		.body{background-color:grey;}
		.result{
			clear:none;
			float:center;
			margin: 0 0 10px 400px;
		}
		.type{
			float:right;
			margin:-2.5em 20em 2em 1em;
		}
		.info{
			float:right;
			margin:1em 20em 2em 1em;
		}
		</style>
	</head>	
<body ng-app='test01'>
	<div ng-controller="MyController as ctrl">
		<div>
			<input  type="text" ng-model="ctrl.name">
			<input  type="number" ng-model="ctrl.age">
		</div>
		
		<div >
		  <label>
			<input type="radio" name="genre" ng-model="ctrl.user.choice" value="Pop" ng-change="ctrl.genrechange(ctrl.user.choice)">
			Pop
		  </label><br/>
	  
		  <label>
			<input type="radio" name="genre" ng-model="ctrl.user.choice" value="Rock" ng-change="ctrl.genrechange(ctrl.user.choice)">
			Rock
		  </label><br/>
	  
		  <label>
			<input type="radio" name="genre" ng-model="ctrl.user.choice" value="Rap" ng-change="ctrl.genrechange(ctrl.user.choice)">
			Rap
		  </label><br/><br/>
		</div >
		

		  <label ng-repeat="list in ctrl.selectedlist">	
			 <input type="checkbox" ng-model="active" value="{{list.SongName}}" ng-change="makelist(list.SongName,active)"> {{list.SongName}}
		</br></label>

		<div class="type">
			 <label>
			<input type="radio" name="type" ng-model="ctrl.type" value="Clean">
			Clean
		  </label><br/>
	  
		  <label>
			<input type="radio" name="type" ng-model="ctrl.type" value="Explicit">
			Explicit
		  </label><br/><br/>
		</div>
			


		<br/><button ng-click="ctrl.pref.addtype()">Save</button></br>
			<label> Name: </label><span ng-bind="ctrl.name"></span><br/>
			<label> Age: </label><span ng-bind="ctrl.age"></span><br/>


			<label>Song list: </label><span ng-repeat="song in ctrl.songcheck" ng-bind="song">{{song}}</span><br/>
			<label>Song Type: </label><span ng-bind="ctrl.type"></span>
			</div>
		

	</div>
</body>					
